.container
{
    margin-top: 50px;
}
.card{
    width:50%;
    height: 50%;
    margin: auto;
    background-color: burlywood;
    
}

.form-control
{
    width: 50%;
    position: relative;
    margin-left: 180px;
    margin-top: 20px;
    text-align-last: center;
}
label {
    margin-top: 20px;
    margin-left: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}