<app-hdr></app-hdr>

<div class="container" style="margin-top: 10px;">
   
    <a href="http://localhost:4200/Student/login" type="button" class="btn btn-primary" style="margin-left: 20px;">Back</a>
</div>
<div class="text-center">
    <h1>Student Result</h1>

    <div style="margin-top:50px;"><h4>Rollnumber :  {{rollnumber}}</h4></div>
    <div style="margin-top:10px;"><h4>Name :  {{name}}</h4></div>
    <div style="margin-top:10px;"><h4>Date Of Birth :{{DOB}}</h4></div>
    <div style="margin-top:10px;"><h4>Score :{{Score}}</h4></div>
    
    
   
</div>


