footer {
    text-align: center;
    padding: 3px;
    background-color: #66CDAA;
    color: white;
}

#img {
    height: 100px;
    width: 20"

}

.table table-bordered {
    table-layout: fixed;
}

td {
    width: 50%;
    table-layout: fixed;
}

.select-input.form-control {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

p {
    text-align: center;
}

.fm {
    margin-left: 20px;
    margin-top: 20px;
}